.imgine {
    max-width:30%;
    max-height:10% ;
    height: auto;
}

body {
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.vecteezy.com%2Fsystem%2Fresources%2Fpreviews%2F003%2F207%2F425%2Fnon_2x%2Fabstract-white-blue-background-vector.jpg&f=1&nofb=1&ipt=42c6b255e6d6066702e871de009ded6adccd401418dd1cee50f2f33af3a96f28&ipo=images);
    background-size: cober;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}

header{
    background-color: aqua;
    color: rgb(17, 125, 219);
}